# Copy this file to ".env" (do NOT commit .env)

#Django
DJANGO_SECRET_KEY=change-me-to-a-long-random-string #this should be line 29 in DjangoProject/settings.py
DJANGO_DEBUG=true

#Nominatim (OpenStreetMap geocoding)
#use a real contact email to avoid 403 blocks
NOMINATIM_USER_AGENT=SideQuestCity/1.0 (University project; contact: your@email.com)
NOMINATIM_EMAIL=your@email.com